<footer>
    <div class="links">
        <ul class="textBlock">
            <li class="authorsTitle text">Авторы</li>
            <li class="firstName text" onclick="firstName()">Логвинов Иван</li>
            <script>
                function firstName(){
                    window.open("https://t.me/Feku11");
                }
            </script>
        </ul>
        <ul class="textBlock">
            <li class="methods text">О нас</li>
            <li class="help text">Помощь</li>
            <li class="confident text">©2023 GlowLang</li>
        </ul>
    </div>
</footer>