<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/level.css">
    <link rel="stylesheet" href="/reset.css">
    <title>GlowLang</title>
</head>
<body>
    <header>
            <button class="logo"></button>
    </header>
    <main>
        <nav class="menu">
            <div class="repeatHelp help">
                <p>Рестарт уровня</p>
            </div>
            <div class="repeat">
                <div class="repeatIcon"></div>
            </div>
            <div class="backHelp help">
                <p>Вернуться в меню</p>
            </div>
            <div class="back" onclick="back()">
                <div class="backIcon"></div>
                <script>
                    function back(){
                    window.location.href='/mainMenu';
                    }
                </script>
            </div>
        </nav>
        <div class="iconContainer">
            <div class="monsterHealthHelp help">
                <p>Здоровье монстра:</p>
            </div>
            <div class="levelHelp help">
                <p>За правильные ответы здоровье монстра будет уменьшаться, за неправильные - ваше.</p>
            </div>
            <div class="health-monster">
                <div class="bar-monster"></div>
                <div class="bar-monster"></div>
                <div class="bar-monster"></div>
                <div class="bar-monster"></div>
                <div class="bar-monster"></div>
            </div>
            <div class="icon">
                <div class="cloud1"></div>
                <div class="cloud2"></div>
                <div class="monsterImage">

                </div>
            </div>
            <div class="backGlow"></div>
            <div class="decor"></div>
        </div>
        <div class="taskContainer">
            <div class="task">
                <div class="taskText">Извините, произошла ошибка.</div>
                <div class="errorText">Ответ неверный...</div>
                <div class="rightText">Ответ верный!</div>
            </div>
            <div class="healthContainer">
                <div class="healthHelp help">
                    <p>Ваше здоровье:</p>
                </div>
                <div class="health-ally">
                    <div class="bar-ally"></div>
                    <div class="bar-ally"></div>
                    <div class="bar-ally"></div>
                    <div class="bar-ally"></div>
                    <div class="bar-ally"></div>
                </div>
                <button class="questions"></button>
            </div>
            <div class="answers">
                <div class="answer1 answer">
                    <p class="textAnswer text">
                        ...
                    </p>
                </div>
                <div class="answer2 answer">
                    <p class="textAnswer text">
                        ...
                    </p>
                </div>
                <div class="answer3 answer">
                    <p class="textAnswer text">
                        ...
                    </p>
                </div>
                <div class="answer4 answer">
                    <p class="textAnswer text">
                        ...
                    </p>
                </div>
            </div>
        </div>
        <div class="mountainsContainer">
            <div class="backMountains"></div>
            <div class="frontMountains"></div>
        </div>
    </main>
    <script src="/tasks.js" ></script>
    <script src="/questions/easy/1location.js" ></script>
</body>
</html>