<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/registrationStyle.css">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/footer.css">
    <title>GlowLang</title>
</head>
<body>
<%- include('../views/partials/header'); %>
    <main>
        <h2 class="loginTitle">Зарегистрируйтесь, чтобы начать изучать языки.</h2>
        <div class="loginWindow">
                <div class="backGroundGlow"></div>
        <form action="/register" method="post">
            <p class="emailText">Email</p>
                <input type="text" class="email" id="email" name="email">
            <p class="nameText">Имя</p>
                <input type="text" class="name" id="name" name="name">
            <p class="passwordText">Пароль</p>
                <input type="password" class="password" id="password" name="password">
            <p class="passwordConfirmText">Повтор пароля</p>
                <input type="password" class="passwordConfirm" id="passwordConfirm" name="passwordConfirm">
            <div class="buttonContainer">
                <div class="loginContainer">
                <button class="login" type="submit">Зарегистрироваться</button>
        </form>
                    <div class="buttonShadowLogin"></div>
                </div>
                <div class="backContainer">
                    <button class="back" onclick="back()" type="button">Уже есть аккаунт</button>
                    <script>
                        function back() {
                        window.location.href='/loginPage';
                        }
                    </script>
                    <div class="buttonShadowBack"></div>
                </div>

            </div>
        </div>
        <%- include('../views/partials/mountains'); %>
    </main>
<%- include('../views/partials/footer'); %>
</body>
</html>