body {
    background: #05727B;
    font-family: 'Inter', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: bold;
    color: white;
}
/*Анимации*/

/*
Появление передних гор снизу.
*/
@keyframes frontMountainsAnimation { 
    0% { transform: translateY(50%)}
    100% { transform: translateY(0%)}
}
/*
Появление задних гор снизу.
*/
@keyframes backMountainsAnimation {
    0% { transform: translateY(50%)}
    100% { transform: translateY(0%)}
}
@keyframes clouds {
    0% { transform: translateY(0px);}
    50% { transform: translateY(-15px);}
    100% { transform: translateY(0px);}
}
@keyframes decor {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes decorRotate {
    0% { transform: rotate(45deg); }
    100% { transform: rotate(0deg); }
}
@keyframes onset {
    0% { transform: translateY(-30px);}
    100% { transform: translateY(0px);}
}
@keyframes onsetBottom {
    0% { transform: translateY(30px);}
    100% { transform: translateY(0px);}
}
@keyframes error {
    0% { color: #F16565;}
    100% { color: white;}
}
@keyframes right {
    0% { color: #92D467;}
    100% { color: white;}
}

header {
    /*
    Лого
    */
    .logo {    
        width: 350px;
        height: 350px;
        background: url(/GlowLogo.png);
        background-repeat: no-repeat;
        filter: drop-shadow(0px 0px 10px #00000075);
        position: absolute;
        left: -100px;
        top: -150px; 
        z-index: 3;
        transition: all .5s;
        border-style: none;
    }
    /*
    Лого при наведении (увеличивается на 50 пикселей)
    */
    .logo:hover {
        width: 400px;
        height: 400px;
        background: url(/GlowLogoHover.png);
    }
}
main {


    .help {
       opacity: 0; 
       transition: all 1s;
    }
    .menu {
        width: 100px;
        height: 208px;
        background: url(/menu.png);
        position: absolute;
        bottom: 60px;
        left: 60px;
        filter: drop-shadow(0px 0px 10px #00000075);
        animation: onsetBottom 2s, decor 2s, clouds 3s infinite ease-in-out;

        .backHelp, .repeatHelp {
            margin: 20px 0 0 110px;
            position: absolute;
            width: 120px;
            height: 55px;
            background: url(/rightHelp.png);
        }
        .backHelp > p , .repeatHelp > p{
            margin: 8px 0 0 24px;
            text-shadow: none;
            font-size: 14px;
        }

        .repeat {
            width: 80px;
            height: 80px;
            background: url(/repeat.png);

            .repeatIcon {
                background: url(/repeatIcon.png);
                width: 36px;
                height: 36px;
            }
        }
        .back {
            width: 80px;
            height: 80px;
            background: url(/back.png);

            .backIcon {
            background: url(/backIcon.png);
            width: 40px;
            height: 25px;
            }
        }
        .repeat, .back {
            margin: 15px 0 0 10px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .repeatIcon, .backIcon {
            margin-bottom: 5px;
            filter: drop-shadow(0px 0px 10px #00000075);
        }
        .repeat:active {
            background: url(/repeatActive.png);
            width: 80px;
            height: 70px;
            transform: translateY(9px);
        }
        .repeat:active ~ .backHelp {
            transform: translateY(10px);
        }
        .repeat:active ~ .back{
            transform: translateY(10px);
        }
        .back:active {
            background: url(/backActive.png);
            width: 80px;
            height: 70px;
            transform: translateY(9px);
        }
    }
    .monsterHealthHelp {
        top: 20px;
        margin-right: 400px;
        position: absolute;
        width: 120px;
        height: 55px;
        background: url(/help.png);

    }
    .levelHelp {
        top: 140px;
        margin-left: 600px;
        position: absolute;
        width: 265px;
        height: 130px;
        background: url(/levelHelp.png);

    }
    .levelHelp > p{
        width: 200px;
        margin: 12px 0 0 24px;
        text-shadow: none;
    }
    .monsterHealthHelp > p {
        margin: 8px 0 0 8px;
        text-shadow: none;
    }
    .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 400px;

        .backGlow {
            width: 1030px;
            height: 941px;
            flex-shrink: 0;
            border-radius: 1030px;
            background: radial-gradient(48.1% 48.92% at 50% 48.72%, #93B785 0%, rgba(147, 183, 133, 0.00) 100%);
            position: absolute;
            z-index: -4;
            margin-top: 120px;
            animation: decor 2s forwards;
        }

        .decor {
            width: 240px;
            height: 230px;
            position: absolute;
            background: url(/decor.png);
            top: 100px;
            margin-left: 20px;
            animation: decor 2s forwards, decorRotate 1s forwards;
            animation-delay: 2s;
            opacity: 0;
        }

        .health-boss {
            margin-top: -80px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 350px;
            height: 50px;
            background: url(/healthBoss.png);
            animation: onset 1.5s, decor 3s;

        }
        .health-monster {
            margin-top: -80px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 200px;
            height: 50px;
            background: url(/health.png);
            animation: onset 1.5s, decor 3s;

        }

        .bar-monster {
            width: 28px;
            height: 29px;
            background: url(/bar.png);
            background-repeat: no-repeat;
        }

        .bar-empty {
            background: url(/emptyBar.png);
            background-repeat: no-repeat;
        }

        .icon {
            display: flex;
            margin: 24px auto 0 auto;
            width: 200px; 
            height: 200px;
            background: url(/iconBack.png);
            filter: drop-shadow(0px 0px 10px #00000075);
            animation: onset 1s, decor 2s;

            .cloud1, .cloud2 {
                position: absolute;
            }

            .cloud1 {
                width: 155px;
                height: 81px;
                background: url(/firstCloud.png);
                bottom: 0px;
                left: -80px;
                animation: clouds 3s infinite ease-in-out, decor 2s forwards;
                opacity: 0;
            }
            .cloud2 {
                width: 105px;
                height: 55px;
                background: url(/secondCloud.png);
                right: -50px;
                animation: clouds 3s infinite ease-in-out, decor 2s forwards;
                animation-delay: 1s;
                opacity: 0;
            }

            .monsterImage {
                margin: 30px auto 0 auto;
                width: 120px;
                height: 125px;
                background: none;
            }
        }
        
    }
    .taskContainer {
        display: flex;
        flex-direction: column;
        margin:  0 auto 0 auto;
        width: 850px;
        height: 520px;
        background: linear-gradient( rgba(219, 238, 189, 0.8),  rgba(157, 204, 139, 0.8));
        border-radius: 40px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.50);
        animation: onsetBottom 2s, decor 2s;

        .task {
            margin: auto;
            width: 800px;
            height: 220px;
            background: linear-gradient( rgba(219, 238, 189, 0.8),  rgba(157, 204, 139, 0.8));
            border-radius: 40px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.50);
            animation: onsetBottom 2.5s;

            .taskText {
                display: none;
                animation: decor .5s;
                font-size: 36px;
                margin: 25px 30px;
            }
            .errorText, .rightText {
                display: none;
                animation: decor 1s, error 1s;
                font-size: 36px;
                margin: 25px 30px;
            }
            .rightText {
                animation: decor 1s, right 1s;
            }
        }
        .healthHelp {

            width: 120px;
            height: 55px;
            background: url(/help.png);

        }
        .healthHelp > p {
            margin: 8px 0 0 8px;
            text-shadow: none;
        }
        .healthContainer {
            margin: auto;
            width: 600px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .health-ally {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 200px;
            height: 50px;
            background: url(/health.png);
            animation: onsetBottom 2.5s;

            .bar-ally {
                width: 28px;
                height: 29px;
                background: url(/bar-ally.png);
                background-repeat: no-repeat;
            }
            .bar-empty {
                background: url(/emptyBar.png);
                background-repeat: no-repeat;
            }
        }
        .questions {
            border: none;
            margin-right: 55px;
            display: flex;
            width: 50px;
            height: 50px;
            background: url(/questions.png);
            background-repeat: no-repeat;
            animation: onsetBottom 2.5s;
        }
        .questions:active {
            transform: translateY(5px);
            background: url(/questions_click.png);
            background-repeat: no-repeat;
        }
        .answers {
            background-repeat: no-repeat;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin: auto;
            width: 800px;
            height: 150px;
            background: linear-gradient( rgba(219, 238, 189, 0.8),  rgba(157, 204, 139, 0.8));
            border-radius: 40px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.50);
            animation: onsetBottom 2.5s;

            .answer {
                width: 160px;
                height: 66px;
                background: url(/answerButton.png);

                .textAnswer {
                    margin-top: 17px;
                    text-align: center;
                    font-size: 20px;
                }
            }
            .wrongAnswer {
                background: url(/wrongAnswer.png);
            }
            .rightAnswer {
                background: url(/rightAnswer.png);
            }
            .answer:active {
                height: 58px;
                background: url(/activeAnswerButton.png);
                transform: translateY(5px);
            }
            .wrongAnswer:active {
                background: url(/wrongActive.png);
            }
            .rightAnswer:active {
                background: url(/rightActive.png);
            }
        
        }
    }
    /*
    Контейнер для гор.
    */
    .mountainsContainer {
        margin-top: -570px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        height: calc(100vh - 350px);

    /*
    Задние горы.
    */
    .backMountains {
        width: 100%;
        height: 700px;
        background: url(/backMountains.png);
        position: absolute;
        z-index: -3;
    }
    /*
    Передние горы.
    */
    .frontMountains {
        width: 100%;
        height: 600px;
        background: url(/frontMountains.png);
        z-index: -2;
        display: flex;
        align-items: center;
        }
    }
    .frontMountains {
        animation: frontMountainsAnimation 1s;
    }
    .backMountains {
        animation: backMountainsAnimation 1.5s;
    }

}