html {
    scroll-behavior: smooth;
  }
body {
    background: #05727B;
    font-family: 'Inter', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: bold;
    color: white;
}
@keyframes aside {
    0% {transform: translateX(-150px)};
    100% {transform: translateX(0px)};
}
@keyframes nav {
    0% {transform: translateX(150px)};
    100% {transform: translateX(0px)};
}
@keyframes main {
    0% { opacity: 0;};
    100% {opacity: 1;};
}
@keyframes popup {
    0% { opacity: 0; display: none};
    100% {opacity: 1; display: flex};
}
@keyframes popupMain {
    0% { transform: scale(.8)};
    100% {transform: scale(1)};
}


.modal {
    width: 100%;
    height: 100vh;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    background: rgba(0,0,0,0.5);
    animation: popup .7s ease-in-out;
}
    .backGround {
        position: fixed;
        z-index: 30;
        width: 585px;
        height: 350px;
        background: #015A71;
        border-radius: 40px;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
        display: flex;
        align-items: center;
        animation: main .5s;


        .mainPopup {
            width: 555px;
            height: 320px;
            background: #04425E;
            border-radius: 25px;
            margin: auto;
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
            animation: popupMain .5s;


            .titlePopup {
                width: 500px;
                height: 55px;
                background: #E9EEBD;
                border-radius: 20px;
                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
                margin: auto;
                margin-top: 19px;
                display: flex;
                align-items: center;
                z-index: 11;

                .titleText {
                    min-width: 120px;
                    height: 20px;
                    font-size: 24px;
                    color: black;
                    margin: auto;
                    font-weight: bold;
                    text-shadow: none;
                }

                .completedIcon {
                    margin: 8px;
                    width: 40px;
                    height: 40px;
                    background: url(/completedIcon.png);
                    background-repeat: no-repeat;
                    z-index: 30;
                }
            }

            .descriptionPopup {
                width: 430px;
                height: 80px;
                margin: auto;
                margin-top: 25px;
                font-weight: bold;
                text-shadow: none;
                font-size: 20px;
                z-index: 12;
            }

            .buttonPopup{
                width: 200px;
                height: 60px;
                margin-top: 67px;
                background: url(/popupButton.png);
                background-repeat: no-repeat;
                border: none;
            }
            .buttonStart {
                margin-left: 100px;
            }
            .buttonBack {
                margin-left: 28px;
            }
            .buttonPopup:hover {
                background: url(/popupButton_hov.png);
                background-repeat: no-repeat;
            }
            .buttonPopup:active {
                background: url(/popupButton_hover.png);
                background-repeat: no-repeat;
                transform: translateY(7px);
            }
            .buttonPopup > p {
                font-weight: bold;
                text-shadow: none;
                font-size: 20px;
                color: white;
                margin-bottom: 5px;
            }
        }
    }



.wrapper {
    display: flex;
}
aside {
    height: 100vh;
    float: left;
    background: url(/aside.png);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
    width: 300px;
    position: fixed;
    z-index: 1;
    animation: aside 1s;
}
.logo {    
    width: 350px;
    height: 350px;
    background: url(/GlowLogo.png);
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 10px #00000075);
    position: absolute;
    left: -100px;
    top: -150px; 
    z-index: -1;
    transition: all .5s;
}
aside > ul {
    display: flex;
    width: 240px;
    height: 400px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 250px 0 0 16px;
}
.back {
    width: 120px;
    height: 120px;
    position: absolute;
    background: #C9D080;
    margin: -118px 0 0 -6px;
    z-index: -1;
    border-radius: 30px;
    transition: all 1s;
    opacity: 0;
    scale: .8;
}
.back-active {
    opacity: 1;
    scale: 1;
}
aside > ul > li > button {
    width: 100px;
    height: 100px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.popup {
    width: 260px;
    height: 120px;
    position: absolute;
    background: url(/popup.png);
    background-repeat: no-repeat;
    margin: -120px 0 0 120px;
    opacity: 0;
    scale: 0.8;
    transition: all 1s;
}
.popup > p {
    margin: 20px 0 0 50px;
    font-size: 20px;
}
aside > ul > li > button:hover ~ .popup {
    scale: 1;
    opacity: 1;
}



nav {
    display: flex;
    height: 100vh;
    width: 250px;
    float: right;
    background: url(/nav.png);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
    right: 0;
    position: fixed;
    animation: nav 1s;
}
nav > ul > li > button {
    width: 200px;
    height: 60px;
    border-radius: 15px;
    background: #C0CC8B;
    border: none;
    margin: 20px 0 0 45px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: background .5s;
    cursor: pointer;
}
nav > ul > li > button:hover {
    background: #D2DF98;
}
nav > ul > li > button:active {
    transform: translateY(10px);
}
nav > ul > li:last-child > button {
    width: 200px;
    height: 60px;
    background: #094263;
    position: absolute;
    bottom: 20px;
}
nav > ul > li:last-child > button:hover {
    background: #1B587B;
}
.shadow {
    width: 200px;
    height: 60px;
    border-radius: 15px;
    background: #7EA16D;
    border: none;
    margin: -50px 0 0 45px;
    position: absolute;
    z-index: -1;
}
nav > ul > li:last-child > .shadow {
    width: 200px;
    height: 60px;
    background: #0C2544;
    position: absolute;
    bottom: 10px;
}

main {
    background: #05727B;
    width: 100vw;
    height: 100vh;
    margin-left: 300px;
    margin-right: 250px;
    animation: main 3s forwards;
    
}

.toLevelPointer {
    width: 100px;
    height: 100px;
    background: url(/toTheLevel.png);
    position: fixed;
    bottom: 50px;
    right: 300px;
    z-index: 50;
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.55));
}
.levelPointerTip {
    width: 150px;
    height: 100px;
    position: fixed;
    bottom: 170px;
    right: 275px;
    z-index: 50;
    background: url(/popupLevelTip.png);

}

.levelArrow:hover + .levelPointerTip {
    background: black;
}
.toLevelPointer:active {
    width: 100px;
    height: 100px;
    background: url(/toTheLevel_active.png);
}

.levels {
    min-height: 100%;
    margin-bottom: -350px;
}

.location1 {
    background: url(/background_1location.png);
    height: 2520px;
    z-index: -6;
}
.location2 {
    margin-top: -350px;
    background: url(/background_2location.png);
    height: 2520px;
    z-index: -5;
}
.location3 {
    margin-top: -280px;
    background: url(/background_3location.png);
    height: 2520px;
    z-index: -4;
}
.location4 {
    margin-top: -300px;
    background: url(/background_4location.png);
    height: 2520px;
    z-index: -3;
}
.location5 {
    margin-top: -300px;
    background: url(/background_5location.png);
    height: 2520px;
    z-index: -2;
}
.location6 {
    margin: -300px 0 250px 0;
    background: url(/background_6location.png);
    height: 2520px;
    z-index: -2;
}
.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.levelsContainer {
    display: flex;
    min-width: 70%;
    height: 1800px;
}
.leftContainer , .rightContainer {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.leftContainer {
    justify-content: center;
    gap: 400px;
}
.middleContainer {
    width: 40%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
}
.level {
    display: flex;
    justify-content: space-between;
    width: 310px;
    height: 170px;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.55));
}
.dotUnder {
    width: 140px;
    height: 70px;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
}
.dot {
    width: 65px;
    height: 55px;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
    margin-left: 40px;
    transition: all .2s;
    cursor: pointer;
}
.location1 > .levelsContainer > .container > .level {
    background: url(/level1.png);
    background-repeat: no-repeat;
}
.location2 > .levelsContainer > .container > .level {
    background: url(/level2.png);
    background-repeat: no-repeat;
}
.location3 > .levelsContainer > .container > .level {
    background: url(/level3.png);
    background-repeat: no-repeat;
}
.location4 > .levelsContainer > .container > .level {
    background: url(/level4.png);
    background-repeat: no-repeat;
}
.location5 > .levelsContainer > .container > .level {
    background: url(/level5.png);
    background-repeat: no-repeat;
}
.location6 > .levelsContainer > .container > .level {
    background: url(/level6.png);
    background-repeat: no-repeat;
}

.location1 > .levelsContainer > .middleContainer > .dotUnder {
    background: url(/dotUnder1.png);
    background-repeat: no-repeat;
}
.location2 > .levelsContainer > .middleContainer > .dotUnder {
    background: url(/dotUnder2.png);
    background-repeat: no-repeat;
}
.location3 > .levelsContainer > .middleContainer > .dotUnder {
    background: url(/dotUnder3.png);
    background-repeat: no-repeat;
}
.location4 > .levelsContainer > .middleContainer > .dotUnder {
    background: url(/dotUnder4.png);
    background-repeat: no-repeat;
}
.location5 > .levelsContainer > .middleContainer > .dotUnder {
    background: url(/dotUnder5.png);
    background-repeat: no-repeat;
}
.location6 > .levelsContainer > .middleContainer > .dotUnder {
    background: url(/dotUnder6.png);
    background-repeat: no-repeat;
}

.location1 > .levelsContainer > .middleContainer > .dotUnder > .dot {
    background: url(/dot1.png);
    background-repeat: no-repeat;
}
.location2 > .levelsContainer > .middleContainer > .dotUnder > .dot {
    background: url(/dot2.png);
    background-repeat: no-repeat;
}
.location3 > .levelsContainer > .middleContainer > .dotUnder > .dot {
    background: url(/dot3.png);
    background-repeat: no-repeat;
}
.location4 > .levelsContainer > .middleContainer > .dotUnder > .dot {
    background: url(/dot4.png);
    background-repeat: no-repeat;
}
.location5 > .levelsContainer > .middleContainer > .dotUnder > .dot {
    background: url(/dot5.png);
    background-repeat: no-repeat;
}
.location6 > .levelsContainer > .middleContainer > .dotUnder > .dot {
    background: url(/dot6.png);
    background-repeat: no-repeat;
}

.location > .levelsContainer > .middleContainer > .dotUnder > .dot:hover {
    background: url(/dot_hover.png);
    background-repeat: no-repeat;
}
.location > .levelsContainer > .middleContainer > .dotUnder > .dot:active {
    background: url(/dot_click.png);
    background-repeat: no-repeat;
    margin-top: 8px;
    transition: none;
}

.location > .levelsContainer > .container > .level > .numberUnder {
    width: 158px;
    height: 118px;
    background: url(/numberUnder.png);
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 12px 0 0 75px;
    cursor: pointer;
}
.location > .levelsContainer > .container > .level > .numberUnderLock {
    width: 158px;
    height: 118px;
    background: url(/levelLock.png);
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 12px 0 0 75px;
    cursor: pointer;
}
.location > .levelsContainer > .container > .level > .numberUnderDone {
    width: 158px;
    height: 118px;
    background: url(/levelDone.png);
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 12px 0 0 75px;
    cursor: pointer;
}
.location > .levelsContainer > .container > .level > .numberUnderDone:active {
    background: url(/levelDone_active.png);
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 15px #ECF590);
    margin: 20px 0 0 75px;
}
.location > .levelsContainer > .container > .level > .numberUnderLock:hover {
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 15px #fbffcd);
    margin: 12px 0 0 75px;
}
.location > .levelsContainer > .container > .level > .numberUnderLock:active {
    background: url(/levelLock_active.png);
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 15px #ECF590);
    margin: 20px 0 0 75px;
}
.location > .levelsContainer > .container > .level > .numberUnder:hover {
    background: url(/numberUnder_hover.png);
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 15px #ECF590);
    margin: 12px 0 0 75px;
}
.location > .levelsContainer > .container > .level > .numberUnder:active {
    background: url(/numberUnder_active.png);
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 15px #ECF590);
    margin: 20px 0 0 75px;
}

.number {
    width: 50px;
    height: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-repeat: no-repeat;
    margin: -20px 0 0 50px;
}

.location > .levelsContainer > .container > .level1 > .numberUnder > .number {
    background: url(/num1.png);
}
.location > .levelsContainer > .container > .level2 > .numberUnder > .number {
    background: url(/num2.png);
}
.location > .levelsContainer > .container > .level3 > .numberUnder > .number {
    background: url(/num3.png);
}
.location > .levelsContainer > .container > .level4 > .numberUnder > .number {
    background: url(/num4.png);
}
.location > .levelsContainer > .container > .level5 > .numberUnder > .number {
    width: 55px;
    height: 55px;
    background: url(/num5.png);
    margin: 20px 0 0 50px;
}
.location > .levelsContainer > .container > .level1 > .numberUnderDone > .number {
    background: url(/num1.png);
}
.location > .levelsContainer > .container > .level2 > .numberUnderDone > .number {
    background: url(/num2.png);
}
.location > .levelsContainer > .container > .level3 > .numberUnderDone > .number {
    background: url(/num3.png);
}
.location > .levelsContainer > .container > .level4 > .numberUnderDone > .number {
    background: url(/num4.png);
}
.location > .levelsContainer > .container > .level5 > .numberUnderDone > .number {
    width: 55px;
    height: 55px;
    background: url(/num5.png);
    margin: 20px 0 0 50px;
}
.title {
    width: 400px;
    height: 80px;
    background: url(/title.png);
    background-repeat: no-repeat;
    margin: 30px 0 0 40px;
    position: absolute;
    z-index: 5;
    filter: drop-shadow(0px 0px 15px #ECF590);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .5s;
}
.locationTitle2 {
    margin-top: -200px;
}
.locationTitle3 {
    margin-top: -100px;
}
.locationTitle4 {
    margin-top: -100px;
}
.locationTitle5 {
    margin-top: -200px;
}
.locationTitle6 {
    margin-top: -250px;
}
p {
    font-size: 20px;
}
.title:hover {
    transform: translateY(10px);
}

